

/* h1, h2, h3, h4, h5, h6 {
    color: #e7e7e7;
  };
  

td:empty::before {
  content: '\00a0';
  display: inline-block;
  min-height: 30px; 
} */
body {
  background-color: #2C2F33;
  color: #e7e7e7;
  font-size: 1em;
  margin: 0;
  padding: 0;

  .modal-children h1,
  .modal-children h2,
  .modal-children h3,
  .modal-children h4,
  .modal-children h5,
  .modal-children h6 {
    font-size: 16px; /* Zmniejsz rozmiar czcionki dla nagłówków */
  }
  
  td.red-background {
    border: 2px solid #ffa400 !important;
}

}
.header {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
}

.containerMain {
  margin:0%;
}

.container1 {  
  display: grid;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  margin-left: 2%;
  margin-right: 2%;
  grid-auto-flow: row;
  overflow: hidden;
  grid-template-areas:
    "header header header header"
    "przychody koszty kategorie-suma kategorie-detail";
}

.container-miesiace {  
  display: grid;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  grid-auto-flow: row;
  overflow: hidden;
  grid-template-areas:
    "przychody koszty kategorie-suma"
    "przychody koszty kategorie-suma";
}

.przychody { grid-area: przychody; }

.koszty { grid-area: koszty; }

.kategorie-suma { grid-area: kategorie-suma; }

.kategorie-detail { 
  grid-area: kategorie-detail;
  max-height: 400px;
  overflow: auto; 
}



.title {
  color: #e7e7e7;
  font-size: 3em;
}

.container2 {  
  display: grid;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  margin-left: 8%;
  margin-right: 8%;
  grid-auto-flow: row;
  overflow: hidden;

}

/* .container3 {   */
  /* display: grid;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
  margin-top: 3em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  grid-auto-flow: row;
  overflow: hidden; */
/* } */

.wykres {  
  display: grid;
  border: 0.1rem solid #42474C;
  border-radius: 10px;  
  padding: 1rem;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  margin-left: 8%;
  margin-right: 8%;
  grid-auto-flow: row;
  overflow: hidden;
}

.gornyPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  margin-left: 8%;
  margin-right: 8%;
  grid-auto-flow: row;
  overflow: hidden;
}

.wykresPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  height: 100%;
  grid-auto-flow: row;
  overflow: visible;
}

button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background-color: #e2e2e2;
}



/* styles.css - Załóżmy, że plik ze stylami to styles.css */
.table-modern {
  width: 100%;
  background-color: #fff;
  color: #333;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s;
}

.table-modern th,
.table-modern td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table-modern thead {
  background-color: #4CAF50;
  color: #fff;
}

.table-modern thead th {
  font-weight: bold;
}

.table-modern tfoot td {
  font-size: 1.2em;
  font-weight: bold;
}

.table-modern tr:hover {
  background-color: #f5f5f5;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.nav-buttons button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 50%; /* Zaokrąglone przyciski */
  font-size: 16px; /* Większe przyciski */
}

.nav-buttons button:hover {
  background-color: #45a049;
}

.button-container {
  padding: 20px;
  background-color: #f9f9f9;
}

/* Custom scrollbar for the table container */
.table-container {
  overflow-y: auto;
  max-height: 400px;
}





#ffa400{
  background-color: #ffa400 !important;
}


.tabelka{

  overflow: hidden;
  margin-top: 10%;
  margin-right: -20%;
  max-width: 30%;
  position: right;

}

.wykreswykres {
  flex: auto;
  max-width: 70%;
  height: fit-content;
}

.wykreswykres2 {
  flex: auto;
  overflow: visible;
  margin-top: -20%;  
  max-width: 65%;

}